{% extends 'base.html' %}

<!-- crispy forms -->
{% load crispy_forms_tags %}

<!-- block content -->
{% block content %}

<h1 class="text-center">Welcome {{user}} to your profile page</h1>

<div class="text-center my-4">
  <a class="btn btn-primary" href="{% url 'edit_profile' %}"
    >Edit Your Profile</a
  >
</div>

<!-- Car listing part -->
<div>
  <!-- counting contents -->
  <h3 class="text-center">{{data | length}} Cars Found</h3>

  <!-- car order contents -->
  <div class="row d-flex flex-warp">
    <!-- looping -->
    {% for order in data %}

    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="card mx-2">
        <div class="card-body">
          <!-- media image -->
          <img
            src="{{order.car.image.url}}"
            class="card-img-top rounded-3 py-3 px-1"
            alt="..."
          />

          <h5 class="card-title">{{order.car.car_name}}</h5>
          <p class="card-text">{{car.description}}</p>
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Price: {{order.car.price}}</h5>
            <h5 class="card-title">Quantity: {{order.car.quantity}}</h5>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  <!-- end of block -->
  {% endblock %}
</div>
